<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="CmsEntities" connectionString="metadata=res://*/CmsModel.csdl|res://*/CmsModel.ssdl|res://*/CmsModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=139.196.75.172;user id=root;password=soft*1023;persistsecurityinfo=True;database=cms&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
