<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--API 程序集名称-->
  <add key="Assembly" value="CmsWeb"/>
  <!--API 命名空间-->
  <add key="ApiNamespace" value="CmsWeb.API."/>
  <!--登录后默认跳转页面-->
  <add key="DefaultUrl" value="~/SysManage/RoleList.aspx"/>
  <!--登录页面-->
  <add key="LoginUrl" value="~/Login.aspx"/>
  <!--是否验证权限，1：是，0：否-->
  <add key="IsValidAuthor" value="0"/>
  <!--是否验证登录验证码，1：是，0：否-->
  <add key="IsValidateCode" value="0"/>
  <!--邮件服务器-->
  <add key="MailServer" value="smtp.163.com"/>
  <!--邮件账号用户名-->
  <add key="MailUserName" value="cs092401@163.com"/>
  <!--邮件账号密码-->
  <add key="MailPassword" value="chensheng*1023"/>
  <!--邮件服务器端口-->
  <add key="MailPort" value="25"/>
  <!--邮件发送人显示名称-->
  <add key="MailDisplayName" value="CMS"/>
</appSettings>