<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--API 程序集名称-->
  <add key="Assembly" value="CmsWeb"/>
  <!--API 命名空间-->
  <add key="ApiNamespace" value="CmsWeb.API."/>
  <!--登录后默认跳转页面-->
  <add key="DefaultUrl" value="~/SysManage/SysParamsList.aspx"/>
  <!--登录页面-->
  <add key="LoginUrl" value="~/Login.aspx"/>
</appSettings>