#searchPanel .searchPanel {
    float: right;
    margin-top: 25px;
}

    #searchPanel .searchPanel input {
        float: right;
        margin-left: 20px;
    }

.loading-shade {
    cursor: wait;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    filter: alpha(opacity=00);
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100009;
}

.loading-content {
    cursor: default;
    position: absolute;
    z-index: 100019;
    width: auto;
    border: 1px solid rgb(187, 187, 187);
    height: 80px;
    line-height: 80px;
    padding-left: 80px;
    padding-right: 20px;
    border-radius: 10px;
    color: rgb(102, 102, 102);
    font-size: 20px;
    left: 0px;
    top: 0px;
    background: url(/Css/Image/loading.gif) 5px 50% no-repeat rgb(255, 255, 255);
    box-shadow: 0 1px 15px rgba(0,0,0,.175);
}

.center {
    text-align: center;
}
