#searchPanel .searchPanel {
    float: right;
    margin-top: 25px;
}

    #searchPanel .searchPanel input {
        float: right;
        margin-left: 20px;
    }

#searchPanel .form-group {
    margin-bottom: 0px;
}
